
PixelDale/PixelDale/bin/Debug/PixelDale.vshost.exe
PixelDale/PixelDale/bin/Debug/PixelDale.vshost.exe.manifest
PixelDale/PixelDale.suo
PixelDale/PixelDale/obj/x86/Debug/build.force
PixelDale/PixelDale/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache